body {
    margin: 0;
  }

  #container {
    position: relative;
    height: 85vh;
    background-color: #f17141;
  }

  .falling-text {
    position: absolute;
    font-size: 40px;
    color: #ffecae;
    pointer-events: none; /* Prevent the falling text from interfering with clicks */
  }

  #sectionTwo {
    background-color: #f17141;
  }

  #sectionThree {
    background-color: #111;
  }

  #sectionFour {
    background-color: #f17141;
  }

  #sectionFive {
    background-color: black;
  }

  #FooterEnd {
background-color: #f17141;
  }

@media (max-width: 768px) {
  .music-container {
    flex-direction: column;
    height: auto;
    padding: 20px 10px;
  }

  .sound-wave {
    margin-top: 20px;
    justify-content: center;
  }

  .column-divider {
    display: none; /* Optional: hides the divider on small screens */
  }
}
